/* --------------------------------------- Summary slide styling ---------------------------- */
.h5p-coursepresentation .h5p-summary-slide {
  background: #fff;
  text-align: center;
  color: #333;
}

.h5p-coursepresentation .h5p-summary-slide.h5p-summary-only-export {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Summary header */
.h5p-coursepresentation .h5p-score-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
  font-size: 0.8em;
}

.h5p-coursepresentation .h5p-score-message-percentage {
  display: inline-flex;
  align-items: center;
}

/* Summary task table */
.h5p-coursepresentation .h5p-summary-task-title {
  width: 60%;
  text-align: left;
  font-size: 0.7em;
}

.h5p-coursepresentation .h5p-summary-task-title .h5p-slide-link {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.h5p-coursepresentation .h5p-summary-task-title .h5p-slide-link:visited {
  color: #333;
}

/* Rectangular summary score meter */
.h5p-coursepresentation .h5p-summary-score-bar {
  position: relative;
  overflow: hidden;
}
.h5p-coursepresentation .h5p-td.h5p-summary-score-bar {
  border-top-width: 2px;
}
.h5p-coursepresentation .h5p-summary-score-meter {
  height: 0.4em;
  background: #e0e0e0;
}

.h5p-coursepresentation .h5p-summary-score-meter > span {
  display: block;
  height: 100%;
  background-color: #096bcb;
}

.h5p-coursepresentation .h5p-summary-footer {
  height: 12%;
  font-size: 0.75em;
}

/* ------------------------------- Summary table style -----------------------------------  */
.h5p-coursepresentation .h5p-summary-table-holder {
  height: calc(100% - 4.5em);
  margin: 1em;
}

.h5p-coursepresentation .h5p-summary-table-pages {
  overflow: auto;
  clear: right;
  max-height: 86%;
  border-bottom: 1px solid #ddd;
}

.h5p-coursepresentation .h5p-score-table tbody {
  border-top: 1px solid #ddd;
}

.h5p-coursepresentation .h5p-summary-total-table {
  width: 100%;
  position: relative;
  margin-top: 1em;
}

.h5p-coursepresentation .h5p-summary-total-table p {
  font-weight: bold;
  display: inline;
  margin-right: 1em;
}

.h5p-coursepresentation .h5p-summary-total-score {
  float: right;
  font-size: 0.6em;
}

.h5p-coursepresentation .h5p-summary-social {
  float: left;
  font-size: 0.75em;
  padding: 0.25em 0em;
}

.h5p-coursepresentation .h5p-summary-social .h5p-show-results-text {
  font-size: 0.8em;
  margin-right: 1em;
  color: #999;
}

.h5p-coursepresentation .h5p-score-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.h5p-coursepresentation .h5p-td {
  padding: 0.3em;
}

.h5p-coursepresentation .h5p-score-table tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.h5p-coursepresentation .h5p-td p {
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
}

.h5p-coursepresentation .h5p-summary-table-header {
  font-size: 0.5em;
  text-transform: capitalize;
  font-weight: normal;
  padding-bottom: 1em;
}
.h5p-coursepresentation .h5p-summary-table-header.slide {
  text-align: left;
  padding-left: 0.42em;
}
.h5p-coursepresentation .h5p-summary-table-header.score {
  text-align: right;
  padding-right: 1.6em;
}
.h5p-coursepresentation .h5p-summary-table-header.score span {
  color: #999;
  padding: 0 0.1em;
}

/* ---------------------------- Social media styles ---------------------------------------------- */

/* Facebook and Twitter link styling */
.h5p-coursepresentation .h5p-summary-twitter-message,
.h5p-coursepresentation .h5p-summary-facebook-message {
  cursor: pointer;
  font-size: 0.7em;
  padding: 0 0.5em;
  color: #999;
}

.h5p-coursepresentation .h5p-summary-twitter-message:hover,
.h5p-coursepresentation .h5p-summary-facebook-message:hover {
  color: #096bcb;
}

.h5p-coursepresentation .h5p-summary-twitter-message > span,
.h5p-coursepresentation .h5p-summary-facebook-message > span {
  text-decoration: none;
}

.h5p-coursepresentation .h5p-summary-twitter-message:before {
  font-family: "H5PFontAwesome4", sans-serif;
  content: "\f099";
  padding-right: 0.5em;
}

.h5p-coursepresentation .h5p-summary-facebook-message:before {
  font-family: "H5PFontAwesome4", sans-serif;
  content: "\f09a";
  padding-right: 0.5em;
}

/* --------------------------------- Button styling ----------------------------------------------- */

.h5p-coursepresentation .h5p-summary-slide .h5p-eta-export:before {
  font-family: "H5PFontAwesome4", sans-serif;
  content: "\f0f6";
  margin-right: 0.5em;
}

.h5p-coursepresentation .h5p-summary-slide .h5p-show-solutions:before {
  font-family: "H5PFontAwesome4", sans-serif;
  content: "\f06e";
  margin-right: 0.5em;
}

.h5p-coursepresentation .h5p-summary-slide .h5p-cp-retry-button:before {
  font-family: "H5PFontAwesome4", sans-serif;
  content: "\f021";
  margin-right: 0.5em;
}
